<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
	<script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="./assets/js/script.js"></script>
    <title>CV-Hazart-Marius-Accueil</title>
</head>
<body>
    <header></header>
    <main id="app" class="page">
        <nav class="navbar">
            <ul class="navigation">
                <li v-on:click="navHome" class="nav-li">
                    <p class="nav-selection">Accueil</p>
                </li>
                <li v-on:click="navPresentation" class="nav-li">
                    <p class="nav-selection">Présentation</p>
                </li>
                <li v-on:click="navSkills" class="nav-li">
                    <p class="nav-selection">Compétences</p>
                </li>
                <li v-on:click="navPortfolio" class="nav-li">
                    <p class="nav-selection">Portfolio</p>
                </li>
            </ul>
        </nav>

        <section v-if="home" class="home content">
            <div class="home-profile">
                <img src=".\assets\img\pp.webp" alt="photo de profile">
                <div class="home-profile-info">
                    <h1>Marius Hazart</h1>
                    <hr class="hr">
                    <h2>1ère année de bachelore a La MANU</h2>
                </div>
            </div>
        </section>

        <section v-if="presentation" class="presentation content">
            <div class="presentation-div">
                <div class="presentation-profile">
                    <img src=".\assets\img\pp.webp" alt="photo de profile">
                    <div class="presentation-profile-text">
                        <h2>A propos de moi</h2>
                        <p>Passionée de logique alghorithmique et des métiers entourant le numérique dont ma scolarité est orienté depuis mes débuts au lycées. Principalement orientée Python et PHP avec une préférence pour le JS et le Vue.js.</p>
                    </div>
                </div>
                <hr class="presentation-hr">
                <div class="presentation-div-article">
                    <div v-for="item in presentationArticle">
                        <presentation-div v-bind:presentation_title="item.title" v-bind:presentation_text="item.desc"> </presentation-div>
                    </div>
                </div>
            </div>
        </section>

        <section v-if="skills" class="skills content">
            <div class="skills-h2">
                <div class="skills-title-div"><h2 class="skills-title">Skills</h2></div>
                <div class="skills-desc"><p class="skills-desc-p">Les niveaux représentés sont affiliés a mon niveau de compréhension et développement dans chaques domaines plutôt que mon niveau de compétences</p></div>
            </div>
            <article class="skills-article">
                <div v-for="(object, category) in skillsList" class="skill-div" v-bind:class="category">
                    <h3> {{category}} </h3>
                    <div v-for="item in object">
                        <object-category-skills v-bind:name="item.name" v-bind:level="item.level" v-bind:progresscolor="progressColor"></object-category-skills>
                    </div>
                </div>
            </article>
        </section>

        <section v-if="portfolio" class="portfolio content">
            <div class="portfolio-h2">
                <h2 class="portfolio-title">Portfolio</h2>
            </div>
            <div class="portfolio-div" >
                <portfolio-div class="portfolio-for" v-for="item in portfolioProjets" v-bind:title="item.title" v-bind:image="item.image" v-bind:button="item.button" v-bind:link="item.link"></portfolio-div>
            </div>
            <div class="github-link-div">
                <a href="https://github.com/M8Gam3">lien vers mon github</a>
            </div>
        </section>
    </main>
</body>
</html>