body {
    background: #36393F;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    width: 100vw;
}

/* navigation */

.navbar {
    height: 100vh;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 10px 5px #26282C;

    /* width: 204.762px; */
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 19vw;
}

.nav-selection {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 100%;
    justify-content: center;

    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

.nav-li {
    display: flex;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2F3136;
    height: 100%;
    overflow: auto;
}

li p {
    display: block;
    color: #FFFFFF;
    padding: 8px 0px 8px 20px;
    text-decoration: none;
}

li p:hover {
    background-color: #202225;
    color: #FFFFFF;
}

/* toutes les sections de présentation */

.content {
    display: flex;
    width: 81vw;
    max-width: 81vw;
    margin-left: 19vw;
    /* height: 100vh; */
}

/* home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home .home-profile {
    text-align: center;
}

.home .home-profile img {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0px 0px 10px 5px #26282C;
}

.home .home-profile .home-profile-info {
    text-align: center;
}

.home .home-profile .home-profile-info h1 {
    font-size: 35px;
}

.home .home-profile .home-profile-info h2 {
    font-size: 30px;
}

.home .home-profile .home-profile-info hr.hr {
    height: 2.5px;
    background-color: #202225;
    border: none;
    border-radius: 20px;
}

/* presentation */

.presentation {
    display: flex;
    margin-top: 20px;
}

.presentation .presentation-div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.presentation .presentation-div .presentation-profile {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80%;
    padding: 25px;
}

.presentation .presentation-div .presentation-profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-items: center;
    box-shadow: 0px 0px 10px 5px #26282C;
}

.presentation .presentation-div .presentation-profile .presentation-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.presentation .presentation-div .presentation-hr {
    width: 80%;
    height: 2.5px;
    background-color: #202225;
    border: none;
    border-radius: 20px;
}

.presentation .presentation-div .presentation-div-article {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px 20px 40px;
}

.presentation .presentation-div .presentation-div-article .presentation-article {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.presentation-desc {
    text-align: left;
}

/* Skills */

progress {
    background-color: rgba(0, 0, 0, 0);
}

progress[value]::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 10px;
}
progress[value]::-webkit-progress-value {
    border-radius: 10px;
}

.progress-red::-webkit-progress-value { 
    background: #DE0000; 
}
.progress-orange::-webkit-progress-value { 
    background: #F46700; 
}
.progress-yellow::-webkit-progress-value { 
    background: #C6D611; 
}
.progress-green::-webkit-progress-value { 
    background: #00CB08; 
}
.progress-succes::-webkit-progress-value { 
    background: #04980A; 
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills-h2 {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-article {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fake-skills-button {
    width: 30%;
}

.skills-button {
    width: 30%;
}

.skills-title {
    width: 40%;
    justify-content: center;
}

/* portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio-h2 {
    display: flex;
    justify-content: center;
}

.portfolio-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio-projet {
    height: auto;
    width: calc(90% /3);
    display: flex;
    flex-direction: column;
}

.portfolio-img {
    object-fit: cover;
    height: auto;
    width: auto;
}